.taskContainer {
	display: flex;
}

.taskColor {
	height: 18px;
	width: 9px;
}

.notDone .taskColor {
	background-color: lightblue;
}

.done .taskColor {
	background-color: mediumseagreen;
}

.taskContent {
	font-weight: 700;
	margin: 0px 0px 13px 10px;
	cursor: pointer;
}

.done .taskContent {
	text-decoration: line-through;
}

.notDone .taskContent {
	text-decoration: none;
}
